/* body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .login-page {
    background-image: url('E:/My Projects/ECG-Scan - Final Product/ECG-Scan---Final-product/Client/src/Resources/2.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }
   */
  /* .login-form{
    border: 10px solid black;
    border-radius: 20px;
    border-left: 10px;
    border-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(26, 26, 88, 0.4));
    padding: 30px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
} */
